* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color_black: #0c0c0c;
  --color_white: #ffffff;
  --color_cyan: #00ffff;
}

body {
  background-color: var(--color_black);
  color: var(--color_white);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  margin: 4rem 0;
  gap: 2rem;
}


label,
option {
  display: inline-block;
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: 4px;
}

select {
  font-size: 1.4rem;
  cursor: pointer;
}

option {
  text-align: right;
}

label {
  color: var(--color_cyan);
  text-transform: uppercase;
}

input,
select {
  display: inline-block;
  width: 20rem;
  font-size: 1.4rem;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 10px;
  text-align: left;
}

button, input[type="submit"] {
  display: inline-block;
  padding: 1rem 2rem;
  text-align: center;
  background-color: var(--color_cyan);
  color: black;
  font-size: 1.2rem;
  text-transform: uppercase;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.4s all ease-in-out;
}

#btnReset {
  background-color: red;
  color: white;
}

button:hover,
input[type="submit"]:hover {
  box-shadow: 0 0 10px var(--color_cyan), 0 0 20px var(--color_cyan);
  border: none;
  outline: none;
}

#btnReset:hover {
  box-shadow: 0 0 10px red, 0 0 20px red;
}

h2 {
  color: var(--color_cyan);
  font-size: 2rem;
  text-align: center;
  margin: 2rem auto;
}

p, li, #output-box {
  font-size: 1.5rem;
  line-height: 2;
}

img {
  display: block;
  width: 100%;
  margin: 2rem 0;
}
